.seminar_card {
  text-align: center;
  width: 300px;
  height: 500px;

  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 18px 4px rgba(196, 196, 196, 0.6);
  border-radius: 5%;

  position: relative;
  padding-bottom: 50px;
  margin-bottom: 10px;
  margin-top: 55px;

  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Наследуем цвет текста */
  display: block; /* Делаем блочным элементом */

  transition: 0.5s;
}

.seminar_card:hover {
  transform: scale(1.02);
}

.icons {
  position: absolute;
  top: 0;
  right: 0;
}

.edit_btn {
  margin-right: 5px;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ffd8ad;
  border: 0.5px solid black;
  border-radius: 100%;
}

.edit_btn:hover {
  background-color: #fac996;
}

.delete_btn {
  margin-right: 10px;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  background-color: rgb(254, 101, 101);
  border: 0.5px solid black;
  border-radius: 100%;
}

.delete_btn:hover {
  background-color: rgb(248, 87, 87);
}

.seminar_title {
  font-size: 22px;
  margin-top: 22px;
  margin-bottom: 20px;

  border-bottom: 1px solid rgb(212, 212, 212);
}

.seminar_description {
  margin-bottom: 20px;
  font-size: 17px;
}

.seminar_dateAndTime {
  margin-bottom: 10px;
}

.photo_card {
  width: 99%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 0px 0px 19px 8px rgba(34, 60, 80, 0.2);
}

.join_btn {
  border: 0.5px solid rgb(114, 114, 114);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1e8de;
  font-family: Arial, sans-serif;

  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.join_btn:hover {
  background-color: #e9daca;
}